@import '../../scripts/browse-card/browse-cards-block.css';

.personalized-product-cards-header {
  margin-bottom: 16px;
}

.personalized-product-cards-title h2 {
  font-size: var(--spectrum-font-size-700);
  line-height: 35px;
  font-weight: bold;
  color: var(--spectrum-gray-800);
  margin: 0;
}

.personalized-product-cards-description {
  font-size: var(--spectrum-font-size-200);
  line-height: 20px;
  color: var(--spectrum-gray-800);
  margin-top: 8px;
  max-width: 1096px;
}

.personalized-product-cards-description a {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

.personalized-product-cards .browse-card-no-results {
  font-size: var(--spectrum-font-size-200);
  color: var(--spectrum-gray-700);
  padding: 24px 0;
}
